*{
    box-sizing: border-box;
}

.container{
    background-color:
    #213551;
    font-size: 1.1rem;
    height: 45vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    border: 4px solid, white ;
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin-bottom: 2rem;

}

#header {
    color: white;
    text-align: center;
    margin-top: 1rem;
    font-size: 1.5rem;
}

#timer, #timer-header {
    color: #F94F6D;
    font-size: 3.1rem;
    background-color: black;
    padding: 25px;
    margin: 10px;
    line-height: 10vh;
    text-align: center;
    font-family: 'CursedTimer ULiL';
    
    
}

@font-face {
    src: url('curse-font/CursedTimerUlil-Aznm.ttf');
    font-family: 'CursedTimer ULiL';
}


.btn {
    
    display: flex;
    align-items:center;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 8px;
    width: 100%;
    background-color: #213551;
    line-height: 1.5rem
    
}

#clicked {
    background-color: #213551;
    color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0px 0px 1px whitesmoke;
    height:3rem;
    width: 3rem;
    font-size: 1.2rem;
    margin:10px 3px;
    font-family:  'CursedTimer ULiL';
}

#clicked:hover {
    border: 2px solid rgb(240, 208, 208);
}

